// ======================================================
// Components-ui / Header
// ======================================================

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem($header--height);
}

.c-header_title {
  color: $main-color;
}
