// ======================================================
// Components / Login
// ======================================================

.c-login {
  margin-top: rem($login--offset);
  text-align: center;
}

.c-login_title {
  color: $white;
  font-weight: 200;
}

.c-login_hr {
  width: rem($login--hr-width);
  margin-top: $unit / 6;
  margin-bottom: $unit * 0.6;
  margin-left: auto;
  margin-right: auto;
  border-color: lighten($bg-color, 15%);
}

// Form
// ======================================================

.c-login_form,
.c-login_input-group_input {
  width: rem($login--form-width);
  margin: 0 auto;
  box-sizing: border-box;
}

.c-login_input-group_error {
  display: block;
  text-align: left;
  margin-top: rem($unit / 8);
  margin-bottom: rem($unit / 6);
  padding: 0 rem($unit / 8);

  opacity: 0;
  font-weight: 300;
  font-size: 0.8rem;
  color: $login--error-color;
  transition: opacity $speed * 2;
  &.-error {
    opacity: 1;
  }
}

.c-login_btn {
  width: rem($login--btn-width);
  margin-top: rem($unit / 2);
}

// Animation
// ======================================================

.c-login {
  &.v-enter {
    .c-login_title,
    .c-login_hr,
    .c-login_input-group,
    .c-login_btn {
      opacity: 0;
      transform: translateY(rem($unit / 4));
    }
  }
  &.v-enter-to {
    .c-login_title,
    .c-login_hr,
    .c-login_input-group,
    .c-login_btn {
      opacity: 1;
      transform: translateY(0);
      transition: $speed * 2 ease-out;
    }

    .c-login_title,
    .c-login_hr {
      transition-delay: $login--delay;
    }
    .c-login_input-group {
      @for $i from 2 to 4 {
        &:nth-child(#{$i - 1}) {
          transition-delay: #{$i * $login--delay};
        }
      }
    }
    .c-login_btn {
      transition-delay: $login--delay * 4;
    }
  }
}
