// ======================================================
// Objects / Button
// ======================================================

.o-btn {
  padding: rem($unit / 6) 0;
  cursor: pointer;

  color: $white;
  background-color: $main-color;
  border-radius: rem($btn--border-radius);
  transition: background-color $speed;

  &:hover {
    background-color: $main-color-dark;
  }
}
