// ==========================================================================
// Settings / Config / App
// ==========================================================================

// Objects
// ======================================================

$btn--border-radius: $unit / 3;

// Spinner
// ======================================================

$spinner--size: 60px;

// Header
// ======================================================

$header--height: 100px;
$header--translation: $unit / 2;
$header--speed: $speed * 3;
$header--welcome-size: 15px;
$header--auth-space-left: $unit / 3;
$header--btn-width: 110px;

// Login
// ======================================================

$login--offset: 120px;
$login--hr-width: 60px;
$login--form-width: 400px;
$login--btn-width: 160px;
$login--delay: $speed / 2;
$login--total-delay: $speed * 2;

// Info Bubble
// ======================================================

$info-bubble--size: 42px;
$info-bubble--icon-size: 34px;
$info-bubble--speed: $speed * 4;
$info-bubble--delay: $speed * 3;

$info-bubble--tooltip-arrow-size: 10px;
$info-bubble--tooltip-border-radius: 6px;
$info-bubble--tooltip-padding: $unit / 3;
$info-bubble--tooltip-margin: $unit / 2;
