// ======================================================
// Settings / Config / Colors
// ======================================================

// Palette
// ======================================================
$white: #ffffff;
$black: #000000;

// Application
// ======================================================

$bg-color: rgb(32, 32, 37);
$main-color: #bb415f;
$main-color-dark: darken($main-color, 10%);

// Components
// ======================================================

// Form
$form--input-color: #b3b3c5;
$form--input-bg-color: #34343e;

// Login
$login--error-color: #e1a1f8;

// Info Bubble
$info-bubble--tooltip-color: rgb(48, 48, 48);
$info-bubble--tooltip-function-color: rgb(100, 255, 242);
$info-bubble--tooltip-argument-color: rgb(161, 255, 83);
$info-bubble--tooltip-return-color: rgb(255, 152, 212);

// Specific
// ======================================================
// Link
$link-color: #1a0dab;
$link-focus-color: #1a0dab;
$link-hover-color: darken(#1a0dab, 10%);
// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// ======================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
