// ==========================================================================
// Settings / Config / App
// ==========================================================================

// Spinner
// ======================================================

$spinner--size: 60px;

// Header
// ======================================================

$header--height: 80px;
$header--title-speed: $speed * 1.5;
