// ======================================================
// Settings / Config / Colors
// ======================================================

// Palette
// ======================================================
$white: #ffffff;
$black: #000000;

// Application
// ======================================================

$bg-color: rgb(32, 32, 37);
$main-color: #bb415f;

// Specific
// ======================================================
// Link
$link-color: #1a0dab;
$link-focus-color: #1a0dab;
$link-hover-color: darken(#1a0dab, 10%);
// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// ======================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
